// Menu Button
.menu-btn {
  position: absolute; // Positions exactly where we tell it
  z-index: 3; // Keeps element in front of others
  right: 35px; // position in from right
  top: 35px; // position down from top
  cursor: pointer; // gives pointer when hovering over
  @include easeOut; //ease out transition

  .btn-line {
    // styling button lines
    width: 28px; // each line is 28px wide
    height: 3px; // each line is 3px high
    margin: 0 0 3px 0; // margin on bottom only
    background: set-text-color($primary-color);
    @include easeOut; // transition
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background: $secondary-color;
      }

      // Line 2 - Hide
      &:nth-child(2) {
        background: transparent;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
        background: $secondary-color;
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    // shortcut for .menu-branding and .menu-nav as it's on same level as menu
    display: flex;
    flex-flow: column wrap;
    align-items: center; // align horizontaly
    justify-content: center; // align verticaly
    float: left;
    width: 50%;
    height: 100vh; //100 viewport height
    overflow: hidden; // hides scroll bar
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //Slide In From Top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding Side
  &-Branding {
    background: rgba($primary-color, 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // Slide In From Bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url(../images/profile.jpg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  // Sass equivalent to JS for(let i = 0; i < 4; i++) loop
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
